/* You can add global styles to this file, and also import other style files */
.draggable {
  cursor: move;
  user-select: none;
}

.dragging {
  background: red;
}

.editor {
  display: flex;
  flex-direction: column;
}

.box {
  background: #ffefed;
  padding: 10px;
  display: inline-block;

}

.box:hover {
  border: 1px dotted blue;
}
