/* You can add global styles to this file, and also import other style files */
.draggable {
  cursor: move;
  user-select: none;
}

.dragging {
  background: red;
}

.editor {
  display: flex;
  flex-direction: column;
}

.box {
  background: #ffefed;
  padding: 10px;
  display: inline-block;

}

.box:hover {
  border: 1px dotted blue;
}


.myButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hover{
  cursor: pointer;
  border: 2px dotted aqua !important;
}

.draggable {
  cursor: pointer;
  user-select: none;
}

